<a href="https://colab.research.google.com/github/laisfernandes/aula_data_exploratory/blob/main/Atividade_2_Medidas_de_dispers%C3%A3o.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**EXERCÍCIO MEDIDAS DE DISPERSÃO**

In [1]:
# Importando o pandas

import pandas as pd

# Importando arquivo csv
caminho_arquivo = '/content/drive/My Drive/Aula_Data_Exploratory/DNSE2017.csv'

# Lendo o arquivo 
sinasc = pd.read_csv(caminho_arquivo, dtype=str)

campos_float = ['PESO']
campos_int = ['IDADEMAE', 'IDADEPAI', 'QTDFILVIVO', 'QTDFILMORT', 'APGAR1', 'APGAR5', 'SEMAGESTAC', 'CONSPRENAT', 'SERIESCMAE', 'QTDPARTCES', 'QTDPARTNOR', 'QTDGESTANT']

def transforma_dados(df, campos_float, campos_int):
  for c in campos_float:
    df[c] = pd.to_numeric(df[c])
  for c in campos_int:
    df[c] = pd.to_numeric(df[c]).astype(pd.Int64Dtype())
  return df
  
sinasc = transforma_dados(sinasc, campos_float, campos_int)

sinasc

      contador ORIGEM CODESTAB  ... TPROBSON PARIDADE  KOTELCHUCK
0            1      1  2415631  ...       05        1           9
1            2      1  2005050  ...       03        1           3
2            3      1  2005050  ...       11        0           5
3            4      1  2005026  ...       05        1           2
4            5      1  2722429  ...       03        1           2
...        ...    ...      ...  ...      ...      ...         ...
33862    33863      1  2115891  ...       10        1           5
33863    33864      1  3137163  ...       02        0           3
33864    33865      1  2755092  ...       04        1           5
33865    33866      1  2077574  ...       04        1           5
33866    33867      2  6901743  ...       03        1           5

[33867 rows x 61 columns]

1) Compare as idades das mães que fizeram cesárea e das mães que fizeram parto normal

In [5]:
normal = sinasc[(sinasc['PARTO'] == '1')]
cesarea = sinasc[(sinasc['PARTO'] == '2')]

# média
media_1 = normal['IDADEMAE'].mean()
media_2 = cesarea['IDADEMAE'].mean()

# desvio médio
dm_1 = normal['IDADEMAE'].mad()
dm_2 = cesarea['IDADEMAE'].mad()

# variância
var_1 = normal['IDADEMAE'].var()
var_2 = cesarea['IDADEMAE'].var()

# desvio padrão
dp_1 = normal['IDADEMAE'].std()
dp_2 = cesarea['IDADEMAE'].std()

# ampliture interquartil
q_1 = normal['IDADEMAE'].quantile([0.25, 0.75]).values
q_2 = cesarea['IDADEMAE'].quantile([0.25, 0.75]).values
iqr_1 = q_1[1] - q_1[0]
iqr_2 = q_2[1] - q_2[0]

# coeficiente de variação
cv_1 = dp_1*100/media_1
cv_2 = dp_2*100/media_2

# organizando em um dataframe
resultado = pd.DataFrame({
    'Parto':['Normal', 'Cesárea'],
    'Idade média':[media_1,media_2], 
    'Idade Desvio Médio':[dm_1, dm_2],
    'Idade Variância':[var_1, var_2],
    'Idade Desvio Padrão':[dp_1, dp_2], 
    'Idade Interquartil':[iqr_1, iqr_2],
    'Idade Coeficiente Variação':[cv_1, cv_2]} ).set_index('Parto')
resultado

         Idade média  ...  Idade Coeficiente Variação
Parto                 ...
Normal     24.983570  ...                   26.870154
Cesárea    27.634743  ...                   24.361364

[2 rows x 6 columns]

2) Compare o peso da criança ao nascer das mães que fizeram cesárea e das mães que fizeram parto normal

In [7]:
# média
media_1 = normal['PESO'].mean()
media_2 = cesarea['PESO'].mean()

# desvio médio
dm_1 = normal['PESO'].mad()
dm_2 = cesarea['PESO'].mad()

# variância
var_1 = normal['PESO'].var()
var_2 = cesarea['PESO'].var()

# desvio padrão
dp_1 = normal['PESO'].std()
dp_2 = cesarea['PESO'].std()

# ampliture interquartil
q_1 = normal['PESO'].quantile([0.25, 0.75]).values
q_2 = cesarea['PESO'].quantile([0.25, 0.75]).values
iqr_1 = q_1[1] - q_1[0]
iqr_2 = q_2[1] - q_2[0]

# coeficiente de variação
cv_1 = dp_1*100/media_1
cv_2 = dp_2*100/media_2

# organizando em um dataframe
resultado = pd.DataFrame({
    'Parto':['Normal', 'Cesárea'],
    'Média Peso':[media_1,media_2], 
    'Desvio Médio Peso':[dm_1, dm_2],
    'Variância Peso':[var_1, var_2],
    'Desvio Padrão Peso':[dp_1, dp_2], 
    'Interquartil Peso':[iqr_1, iqr_2],
    'Variação Peso':[cv_1, cv_2]} ).set_index('Parto')
resultado

          Média Peso  Desvio Médio Peso  ...  Interquartil Peso  Variação Peso
Parto                                    ...
Normal   3192.604793         402.293533  ...              610.0      17.393069
Cesárea  3262.296254         445.274967  ...              678.0      18.348958

[2 rows x 6 columns]

3) Compare o peso da criança ao nascer para as diferentes categorias de consultas pré-natal

In [10]:
pre_natal_0 = sinasc[(sinasc['CONSULTAS'] == '1')]
pre_natal_1_3 = sinasc[(sinasc['CONSULTAS'] == '2')]
pre_natal_4_6 = sinasc[(sinasc['CONSULTAS'] == '3')]
pre_natal_7 = sinasc[(sinasc['CONSULTAS'] == '4')]

# média
media_1 = pre_natal_0['PESO'].mean()
media_2 = pre_natal_1_3['PESO'].mean()
media_3 = pre_natal_4_6['PESO'].mean()
media_4 = pre_natal_7['PESO'].mean()

# desvio médio
dm_1 = pre_natal_0['PESO'].mad()
dm_2 = pre_natal_1_3['PESO'].mad()
dm_3 = pre_natal_4_6['PESO'].mad()
dm_4 = pre_natal_7['PESO'].mad()

# variância
var_1 = pre_natal_0['PESO'].var()
var_2 = pre_natal_1_3['PESO'].var()
var_3 = pre_natal_4_6['PESO'].var()
var_4 = pre_natal_7['PESO'].var()

# desvio padrão
dp_1 = pre_natal_0['PESO'].std()
dp_2 = pre_natal_1_3['PESO'].std()
dp_3 = pre_natal_4_6['PESO'].std()
dp_4 = pre_natal_7['PESO'].std()

# ampliture interquartil
q_1 = pre_natal_0['PESO'].quantile([0.25, 0.75]).values
q_2 = pre_natal_1_3['PESO'].quantile([0.25, 0.75]).values
q_3 = pre_natal_4_6['PESO'].quantile([0.25, 0.75]).values
q_4 = pre_natal_7['PESO'].quantile([0.25, 0.75]).values

iqr_1 = q_1[1] - q_1[0]
iqr_2 = q_2[1] - q_2[0]
iqr_3 = q_3[1] - q_3[0]
iqr_4 = q_4[1] - q_4[0]

# coeficiente de variação
cv_1 = dp_1*100/media_1
cv_2 = dp_2*100/media_2
cv_3 = dp_3*100/media_3
cv_4 = dp_4*100/media_4

# organizando em um dataframe
resultado = pd.DataFrame({
    'Consultas':['Nenuma', '1 a 3', '4 a 6', '7 ou mais'],
    'Média Peso':[media_1, media_2, media_3, media_4], 
    'Desvio Médio Peso':[dm_1, dm_2, dm_3, dm_4],
    'Variância Peso':[var_1, var_2, var_3, var_4],
    'Desvio Padrão Peso':[dp_1, dp_2, dp_3, dp_4], 
    'Interquartil Peso':[iqr_1, iqr_2, iqr_3, iqr_4],
    'Variação Peso':[cv_1, cv_2, cv_3, cv_4]} ).set_index('Consultas')
resultado

            Média Peso  Desvio Médio Peso  ...  Interquartil Peso  Variação Peso
Consultas                                  ...
Nenuma     3085.705714         496.312114  ...              718.0      21.917888
1 a 3      3022.836124         547.712242  ...              737.0      25.323154
4 a 6      3166.448122         443.196659  ...              670.0      18.970310
7 ou mais  3295.601250         381.589073  ...              610.0      15.194355

[4 rows x 6 columns]

4) Compare quantidade de filhos vivos e mortos em relação ao tipo de gravidez (única, dupla, tripla ou mais)

In [16]:
gravidez_1= sinasc[(sinasc['GRAVIDEZ'] == '1')]
gravidez_2= sinasc[(sinasc['GRAVIDEZ'] == '2')]
gravidez_3= sinasc[(sinasc['GRAVIDEZ'] == '3')]

# média
media_vivo1 = gravidez_1['QTDFILVIVO'].mean()
media_vivo2 = gravidez_2['QTDFILVIVO'].mean()
media_vivo3 = gravidez_3['QTDFILVIVO'].mean()
media_morto1 = gravidez_1['QTDFILMORT'].mean()
media_morto2 = gravidez_2['QTDFILMORT'].mean()
media_morto3 = gravidez_3['QTDFILMORT'].mean()

# desvio médio
dm_vivo1 = gravidez_1['QTDFILVIVO'].mad()
dm_vivo2 = gravidez_2['QTDFILVIVO'].mad()
dm_vivo3 = gravidez_3['QTDFILVIVO'].mad()
dm_morto1 = gravidez_1['QTDFILMORT'].mad()
dm_morto2 = gravidez_2['QTDFILMORT'].mad()
dm_morto3 = gravidez_3['QTDFILMORT'].mad()

# variância
var_vivo1 = gravidez_1['QTDFILVIVO'].var()
var_vivo2 = gravidez_2['QTDFILVIVO'].var()
var_vivo3 = gravidez_3['QTDFILVIVO'].var()
var_morto1 = gravidez_1['QTDFILMORT'].var()
var_morto2 = gravidez_2['QTDFILMORT'].var()
var_morto3 = gravidez_3['QTDFILMORT'].var()

# desvio padrão
dp_vivo1 = gravidez_1['QTDFILVIVO'].std()
dp_vivo2 = gravidez_2['QTDFILVIVO'].std()
dp_vivo3 = gravidez_3['QTDFILVIVO'].std()
dp_morto1 = gravidez_1['QTDFILMORT'].std()
dp_morto2 = gravidez_2['QTDFILMORT'].std()
dp_morto3 = gravidez_3['QTDFILMORT'].std()

# ampliture interquartil
q_vivo1 = gravidez_1['QTDFILVIVO'].quantile([0.25, 0.75]).values
q_vivo2 = gravidez_2['QTDFILVIVO'].quantile([0.25, 0.75]).values
q_vivo3 = gravidez_3['QTDFILVIVO'].quantile([0.25, 0.75]).values
q_morto1 = gravidez_1['QTDFILMORT'].quantile([0.25, 0.75]).values
q_morto2 = gravidez_2['QTDFILMORT'].quantile([0.25, 0.75]).values
q_morto3 = gravidez_3['QTDFILMORT'].quantile([0.25, 0.75]).values

iqr_vivo1 = q_vivo1[1] - q_vivo1[0]
iqr_vivo2 = q_vivo2[1] - q_vivo2[0]
iqr_vivo3 = q_vivo3[1] - q_vivo3[0]
iqr_morto1 = q_morto1[1] - q_morto1[0]
iqr_morto2 = q_morto2[1] - q_morto2[0]
iqr_morto3 = q_morto3[1] - q_morto3[0]

# coeficiente de variação
cv_vivo1 = dp_vivo1*100/media_vivo1
cv_vivo2 = dp_vivo2*100/media_vivo2
cv_vivo3 = dp_vivo3*100/media_vivo3
cv_morto1 = dp_morto1*100/media_morto1
cv_morto2 = dp_morto2*100/media_morto2
cv_morto3 = dp_morto3*100/media_morto3

# organizando em um dataframe
resultado = pd.DataFrame({
    'Tipo de gravidez':['Única', 'Dupla', 'Tripla ou mais'],
    'Média Vivo':[media_vivo1, media_vivo2, media_vivo3], 
    'Desvio Médio Vivo':[dm_vivo1, dm_vivo2, dm_vivo3],
    'Variânvia Vivo':[var_vivo1, var_vivo2, var_vivo3],
    'Desvio Padrão Vivo':[dp_vivo1, dp_vivo2, dp_vivo3], 
    'Interquartil Vivo':[iqr_vivo1, iqr_vivo2, iqr_vivo3],
    'Variação Vivo':[cv_vivo1, cv_vivo2, cv_vivo3],
    'Média morto':[media_morto1, media_morto2, media_morto3], 
    'Desvio Médio morto':[dm_morto1, dm_morto2, dm_morto3],
    'Variânvia morto':[var_morto1, var_morto2, var_morto3],
    'Desvio Padrão morto':[dp_morto1, dp_morto2, dp_morto3], 
    'Interquartil morto':[iqr_morto1, iqr_morto2, iqr_morto3],
    'Variação morto':[cv_morto1, cv_morto2, cv_morto3]} ).set_index('Tipo de gravidez')
resultado

                  Média Vivo  ...  Variação morto
Tipo de gravidez              ...
Única               1.121666  ...      208.936670
Dupla               1.197749  ...      186.593960
Tripla ou mais      0.833333  ...      192.506684

[3 rows x 12 columns]

5) Compare a quantidade total de gravidezes (filhos vivos + filhos mortos) em relação a escolaridade

In [20]:
escolaridade_0= sinasc[(sinasc['ESCMAE'] == '1')]
escolaridade_1_3= sinasc[(sinasc['ESCMAE'] == '2')]
escolaridade_4_7= sinasc[(sinasc['ESCMAE'] == '3')]
escolaridade_8_11= sinasc[(sinasc['ESCMAE'] == '4')]
escolaridade_12= sinasc[(sinasc['ESCMAE'] == '5')]
escolaridade_0['FILHOS'] = escolaridade_0['QTDFILVIVO'] + escolaridade_0['QTDFILMORT']
escolaridade_1_3['FILHOS']  = escolaridade_1_3['QTDFILVIVO'] + escolaridade_1_3['QTDFILMORT']
escolaridade_4_7['FILHOS']  = escolaridade_4_7['QTDFILVIVO'] + escolaridade_4_7['QTDFILMORT']
escolaridade_8_11['FILHOS']  = escolaridade_8_11['QTDFILVIVO'] + escolaridade_8_11['QTDFILMORT']
escolaridade_12['FILHOS']  = escolaridade_12['QTDFILVIVO'] + escolaridade_12['QTDFILMORT']

# média
media_1 = escolaridade_0['FILHOS'].mean()
media_2 = escolaridade_1_3['FILHOS'].mean()
media_3 = escolaridade_4_7['FILHOS'].mean()
media_4 = escolaridade_8_11['FILHOS'].mean()
media_5 = escolaridade_12['FILHOS'].mean()

# desvio médio
dm_1 = escolaridade_0['FILHOS'].mad()
dm_2 = escolaridade_1_3['FILHOS'].mad()
dm_3 = escolaridade_4_7['FILHOS'].mad()
dm_4 = escolaridade_8_11['FILHOS'].mad()
dm_5 = escolaridade_12['FILHOS'].mad()

# variância
var_1 = escolaridade_0['FILHOS'].var()
var_2 = escolaridade_1_3['FILHOS'].var()
var_3 = escolaridade_4_7['FILHOS'].var()
var_4 = escolaridade_8_11['FILHOS'].var()
var_5 = escolaridade_12['FILHOS'].var()

# desvio padrão
dp_1 = escolaridade_0['FILHOS'].std()
dp_2 = escolaridade_1_3['FILHOS'].std()
dp_3 = escolaridade_4_7['FILHOS'].std()
dp_4 = escolaridade_8_11['FILHOS'].std()
dp_5 = escolaridade_12['FILHOS'].std()

# amplitude interquartil
q_1 = escolaridade_0['FILHOS'].quantile([0.25, 0.75]).values
q_2 = escolaridade_1_3['FILHOS'].quantile([0.25, 0.75]).values
q_3 = escolaridade_4_7['FILHOS'].quantile([0.25, 0.75]).values
q_4 = escolaridade_8_11['FILHOS'].quantile([0.25, 0.75]).values
q_5 = escolaridade_12['FILHOS'].quantile([0.25, 0.75]).values

iqr_1 = q_1[1] - q_1[0]
iqr_2 = q_2[1] - q_2[0]
iqr_3 = q_3[1] - q_3[0]
iqr_4 = q_4[1] - q_4[0]
iqr_5 = q_5[1] - q_5[0]

# coeficiente de variação
cv_1 = dp_1*100/media_1
cv_2 = dp_2*100/media_2
cv_3 = dp_3*100/media_3
cv_4 = dp_4*100/media_4
cv_5 = dp_5*100/media_5

# organizando em um dataframe
resultado = pd.DataFrame({
    'Escolaridade':['Nenhuma', '1 a 3 anos', '4 a 7 anos', '8 a 11 anos', '12 anos ou mais'],
    'Média Gravidez':[media_1, media_2, media_3, media_4, media_5], 
    'Desvio Médio Gravidez':[dm_1, dm_2, dm_3, dm_4, dm_5],
    'Variância Gravidez':[var_1, var_2, var_3, var_4, var_5],
    'Desvio Padrão Gravidez':[dp_1, dp_2, dp_3, dp_4, dp_5], 
    'Interquartil Gravidez':[iqr_1, iqr_2, iqr_3, iqr_4, iqr_5],
    'Variação Gravidez':[cv_1, cv_2, cv_3, cv_4, cv_5]} ).set_index('Escolaridade')
resultado

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

                 Média Gravidez  ...  Variação Gravidez
Escolaridade                     ...
Nenhuma                5.310559  ...          59.032508
1 a 3 anos             3.544463  ...          76.748766
4 a 7 anos             1.857100  ...         102.634762
8 a 11 anos            1.089825  ...         121.322555
12 anos ou mais        0.709841  ...         138.974008

[5 rows x 6 columns]